<div
  class="card-container mt-4"
  *ngFor="let item of allPosts"
  style="display: flex; justify-content: center"
>
  <mat-card
    class="shadow-lg w-100"
    style="
      max-width: 800px;
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 12px;
      margin-bottom: 20px;
    "
  >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image bg-secondary"></div>
      <mat-card-title class="fw-bold">{{ item.name }}</mat-card-title>
      <mat-card-subtitle class="text-muted">
        Posted by : {{ item.postedBy }} |
        {{ item.date | date : "medium" }}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="p-3">
      <div class="row">
        <div class="col-md-4 mb-3 mb-md-0">
          <img
            [src]="item.img"
            class="img-fluid rounded shadow-sm"
            alt="Card Image"
            style="max-width: 100%; height: auto; object-fit: cover"
          />
        </div>
        <div class="col-md-8">
          <p class="text-dark">
            {{
              item.content.length > 600
                ? (item.content | slice : 0 : 600) + "..."
                : item.content
            }}
          </p>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions
      class="px-3 pb-3 d-flex justify-content-between align-items-center"
    >
      <div>
        <button mat-raised-button color="primary" class="me-2">
          {{ item.likeCount }}
          <mat-icon class="ms-1">favorite</mat-icon>
        </button>
        <button mat-raised-button color="accent" class="me-2">
          {{ item.viewCount }}
          <mat-icon class="ms-1">remove_red_eye</mat-icon>
        </button>
      </div>
      <button
        mat-stroked-button
        color="warn"
        routerLink="/view-post/{{ item.id }}"
      >
        View Post
      </button>
    </mat-card-actions>
  </mat-card>
</div>
