<mat-toolbar
  color="primary"
  class="toolbar p-3 shadow-lg"
  style="background-color: #343a40; color: #f0f0f0; border-radius: 8px"
>
  <div class="d-flex align-items-center w-100">
    <!-- 메뉴 버튼 -->
    <button
      mat-icon-button
      aria-label="Menu"
      class="text-white border-0 bg-transparent"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <!-- 앱 이름 -->
    <span class="app-name ms-3 text-white fs-3 fw-bold">My Travel Blog</span>
    <div class="ms-auto d-flex align-items-center">
      <!-- 새로운 포스트 버튼 -->
      <button
        mat-raised-button
        color="accent"
        routerLink="/create-post"
        class="btn btn-dark me-3 px-4 py-2 rounded-pill shadow-sm custom-button"
        style="color: black"
      >
        Create New Post
      </button>

      <!-- 전체 포스트 보기 버튼 -->
      <button
        mat-raised-button
        color="accent"
        routerLink="/view-all"
        class="btn btn-dark me-3 px-4 py-2 rounded-pill shadow-sm custom-button"
        style="color: black"
      >
        View all Posts
      </button>

      <!-- 좋아요 버튼 -->
      <button mat-icon-button aria-label="Favorite" class="text-white ms-2">
        <mat-icon>favorite</mat-icon>
      </button>
      <!-- 공유 버튼 -->
      <button mat-icon-button aria-label="Share" class="text-white ms-2">
        <mat-icon>share</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
